*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    
}

header{
    height: 100px;
    background-color: black;
    color: white;
}

.header{
    max-width: 1300px;
    height: 100px;
    display: flex;
    margin: auto;
    align-items: center;
}

.logo{
    width: 100px;
}

.logo-img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #B28756;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li{
    list-style-type: none;
    text-decoration: none   ;
}

.menu ul{
    display: flex;
}

.menu li a{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;
    transition: 0.2s;
}

.menu li a:hover{
    border-bottom: 5px solid #B28756;
    color: rgba(128, 128, 128, 0.968);
}

