.default{
    padding-top: 50px;
    padding-bottom: 50px;

}

.default .section-title{
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    
}

.default .section-desc{
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: rgba(128, 128, 128, 0.722);
    
}

.default .section-body{
    margin: auto;
    max-width: 1300px;
}

.default.light{
    background-color: #f7f7f7;
}

.default.light .section-title{
    color: black;
}

.default.light .section-body{
    color: black;
}


.default.dark{
    background-color: black;
}

.default.dark .section-title{
    color: white;
}

.default.dark .section-body{
    color: white;
}

.default.dark .section-desc{
    color: white;
}

.button{
    display: inline-block;
    background-color: #B28756;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 15px;
}








/* SECTION ABOUT US */


.section-about{
    display: flex;
}

.section-about .about-left{
    flex: 1;
}

.about-left p{
    font-size: 14px;
    line-height: 25px;
    
}

.section-about .about-right{
    flex: 1;
    width: 500px; 
    text-align: center;  
}

.section-about .about-right img{
   width: 480px;
   box-shadow: 0px 5px 10px black;
}









/* SECTION SERVICES*/
.section-services{
    display: flex;  
}

.section-services h4{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.section-service{
    flex: 1;
    text-align: center;
    padding: 20px;
    border-right: 1px solid #333;
}

.section-service:first-child{
    border-left: 1px solid #333;
}

.section-service img{
    padding-bottom: 20px;
}









/* SECTION SERVICES*/


.section-title{
    
}

.section-desc{
    
}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects-filters{
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 20px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects-filters ul,
.section-projects-filters li{
    list-style-type: none;
}

.section-projects-filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}

.section-projects-filters li:hover{
    border-bottom: 3px solid #B28756;
}

.section-projects-filters li:first-child{
    border-left: none;
}









.section-projects-photos{
    width: 100vw;
    max-width: 1300px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects-photo{
    width: 280px;
}

.section-projects-photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects-photoarea img{
    width: inherit;
    height: inherit;
}

.section-projects-photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.519);
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

}

.section-projects-photoinfo h5{
    font-size: 21px;
    padding-bottom: 3px;
    font-weight: 600;
}


