
.banner{
    background-color: #333;
    height: calc(100vh - 100px);
    background-image: url('../assets/media/bg.jpg');
    overflow: hidden;
    display: flex;
}

.banner .sliders{
    width: 1000vw;
    height: 100%;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.611);
}

.banner .slide-area{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner h1{
    text-transform: uppercase;
    font-weight:bold;
    font-size: 50px;
    text-align: center;
}

.banner h1 span{
    color: #B28756;
}

.banner h2{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}
.banner a{
    display: block;
    background-color: #B28756;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 15px;
}

.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;

}
